<!DOCTYPE html>
<html>
    <head>
        <title>Payment Success</title>
        <link rel="stylesheet" href="/success.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Payment Success</h1>
        <p>Your payment has been completed successfully.</p>
    </body>
</html>